:root {
  --pink: #f73859;
  --pink-shadow: hsl(325, 96%, 50%);
}

html {
	max-height: 100%;
}

body {
	margin: 0px;
	max-height: 100%;
}

header {
	background-color: #fff;
    display: flex;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
	align-items: center;
}

img {
	max-width: 100%;
  }

video {
	width: 100%;
}

blockquote {
	color: var(--pink);
    font-family: 'Avenir 85', Arial, sans-serif;
	font-size: 32px;
	font-style: italic;
	margin: 0;
	border: 5px solid;
    border-top-color: #f2f2f2;
    border-bottom-color: #f2f2f2;
    border-left-color: #ffffff;
    border-right-color: #ffffff;
    padding: 20px;
}

#page-container {
	position: relative;
	min-height: 100vh;
}

#content-wrap {
	padding-bottom: 10rem; 
}

.logo {
	padding-left: 10px;
	width: 100%;
}

.logo_link {
	margin-right: auto;
}

h1 {
	font-size: 60px;
    color: #302f38;
    font-family: 'Avenir 85', Arial, sans-serif;
}

h2 {
	font-size: 44px;
    color: var(--pink);
    font-family: 'Avenir 85', Arial, sans-serif;
	margin: 20px auto;
	padding-top: 50px;

}

h3 {
	font-size: 1.5rem;
    color: #222;
    font-family: 'Avenir 85', Arial, sans-serif;
	text-transform: uppercase;
}

h4 {
	font-size: 1.2222222222222223rem;
    color: var(--pink);
    font-family: 'Avenir 85', Arial, sans-serif;
	margin: 1em;
}

p {
	color: #4d4d4d;
	font-family: 'Lato', Arial, sans-serif;
	font-weight: 400;
	line-height: 24px;
}

nav {
	margin-right: 50px;
}

nav ul{
	display: flex;
	margin: 1em;
}

nav ul li {
	padding: 0px 15px;
	list-style: none;
	font-size: 16px;
    color: #6C6B7B;
    font-family: 'Avenir 85', Arial, sans-serif;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #6C6B7B;
}

a:hover {
	color: var(--pink);
}

button {
	border: 2px solid var(--pink);
    padding: 10px 30px;
    background-color: #fff;
    color: #4d4d4d;
	margin-right: 20px;
	margin-bottom: 20px;
}

button:hover{
	background-color: var(--pink);
    color: #fff;
    cursor: pointer;
}

.pink {
	color: var(--pink);
}

.typing_header {
	max-width: 1050px;
	text-align: center;
	margin: 100px auto 0px;
}

.arrow {
	margin-bottom: 50px;
	transform: translatey(0px);
	animation: float 3s ease-in-out infinite;
}

@keyframes float {
	0% {
		
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-20px);
	}
	100% {
		
		transform: translatey(0px);
	}
}

footer {
	height: 10rem;
    background: #FFFFFF;
    display: flex;
    box-shadow: 0px -1px 10px rgba(0, 0, 0, .1);
    bottom: 0;
    width: 100%;
    position: absolute;
}

.left_footer_column {
	margin-left: 50px;
    margin-top: 30px;
    margin-right: auto;
    text-align: center;
}

.right_footer_column {
	margin-right: 100px;
}

.social_icons {
	margin-bottom: 16px;
}

.logos {
	width: 30px;
    fill: #302f38;
    margin: auto 3px;
}

.logos:hover {
	fill: var(--pink);
}

.list-one, .list-two {
	width: 100%;
}

.email {
	font-size: 16px;
    color: #6C6B7B;
    font-family: 'Avenir 85', Arial, sans-serif;
}

.email:hover {
	color: var(--pink);
}

.title {
	padding-bottom: 10px;
	font-weight: 600;
}

.favorites {
	display: flex;
}

.favorites ul li {
	font-size: 16px;
    color: var(--pink);
    font-family: 'Avenir 85', Arial, sans-serif;
    margin: 2px auto;
}

/*Portfolio*/

.portfolio_grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 56px 56px;
	justify-items: stretch;
	align-items: flex-start;
	max-width: 1230px;
    text-align: left;
    margin: auto;
    padding-bottom: 100px;
}

.color {
	background-color: var(--pink);
}

.rotate {
	width:100%;
	height: 100%;
	display: block;
}

.project_title {
	margin: 0px;
    padding: 20px 0px 0px;
    background-color: #fff;
}

.project_title_container>p {
	margin: 0px;
    background-color: #fff;
    font-size: 0.7777777777777778rem;
    font-style: normal;
	text-transform: uppercase;
}

.rotate:hover {
    transform-origin: center;
    cursor: pointer;
  	animation: fadeIn 1s cubic-bezier(0, 0, 0, 0.99);
}

@keyframes fadeIn {
  0% {
    transform: scale(1);
  	box-shadow: 0 0 0px rgba(0, 0, 0, 0.2);
	background-color: rgba(250,250,250,0);
  }
  100% {
    transform: scale(1.03);
  	box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
	background-color: rgba(250,250,250,0.05);
  }
}

/* Generic Project Page */

.hero {
	display: flex;
	max-height: 600px;
}

.cover_photo {
	display: flex;
	max-width: 100%;
	object-fit: cover;
	object-position: top;
	flex: 1;
}

.blog_post {
	display: grid;
	max-width: 1230px;
	margin: 50px auto 200px;
	grid-gap: 10px 50px;
	grid-template-columns: 1fr 12fr 1fr;
}

.blog_post > * {
	grid-column: 2 / -2;
}

.blog_post > figure {
	margin: 0;
	grid-column: 1 / -1;
}

figcaption {
	border: solid var(--pink);
    border-width: 0px 0px 0px 5px;
    padding: 10px;
	margin: 10px 0px;
	font-style: italic;
}

figure > img {
	object-fit: fill;
}

.list {
	padding: 0px;
	color: #4d4d4d;
    font-family: 'Lato', Arial, sans-serif;
	line-height: 24px;
}

.list > li {
	margin: 10px 0;
}

.summary_columns {
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.summary_left {
	margin-top: 30px;
	margin-right: auto;
	padding-right: 20px;
	text-align: left;
	flex: 1;
}

.summary_right {
	margin-top: 30px;
    margin-right: auto;
	text-align: left;
	flex: 1;
}

.body {
	color: #4d4d4d;
    font-family: 'Lato', Arial, sans-serif;
	line-height: 24px;	
	padding-bottom: 100px;
}

.body > .list > li {
	margin-left: 40px;
}

.container_image {
	max-width: 100%;
}

.multi_image {
	display: flex;
  flex-direction: row;
  width: 100%;
  grid-column: 1/-1;
  margin: 0;
}

.multi_image > figure {
	margin: 0px 4px;
}

/*About Page*/

.line {
    position: absolute;
    z-index: 10;
    width: 2px;
    border-width: 0 1rem;
    border-color: rgba(250,250,250,0);
    height: 40%;
    background-color: #cacaca;
    border-style: solid;
    background-clip: padding-box;
    box-sizing: content-box;
    top: 30%;
}

#left-line {
    left: 95%;
}

#right-line {
    right: 95%;
}

/*Flipper*/

.flip-container {
	perspective: 1000px;
	background-color: var(--pink);
	max-height: 475px;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}

.headshot_front {
	backface-visibility: hidden;
	height: 475px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

.headshot_back {
	backface-visibility: hidden;
	height: 475px;
	position: absolute;
	top: 0;
	left: 0;
	transform: rotateY(180deg) translate(50px,-50px);
}


	/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.about_section {
	    margin: 100px 200px;
}

.about_row {
	display: grid;
	grid-gap: 50px;
	grid-template-columns: 50% 420px;
    padding: 20px;
    height: 475px;
    width: auto;
}

.headshot {
	display: inline-block;
    overflow: hidden;
    text-align: center;
}

.headshot_img {
	height: 100%;
}

/*Area 51*/

/*Object 1*/

.object_1 {
  display: flex;
  height: 500px;
  padding-top: 200px;
}

.big-box {
  margin: 0px auto;
  text-align: center;
}

#box {
  border: 1px solid #fff;
  border-radius: 30px;
  background-color: #e5e5e5;
  box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.2);
  padding: 5px 50px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

#button {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  border: 0px solid #fff;
  color: #e5e5e5;
  background-color: #36383f;
  padding: 10px 40px;
  font-family: 'Montserrat', sans-serif;
}

input:focus {
	outline: none !important;
}

button:focus {
	outline: none !important;
}

/*Object 2*/
.object_2 {
  padding: 100px;
  background: #eee;
}

.wrap {
  text-align: center;
  vertical-align: middle;
  margin-bottom: 100px;
  background: white;
  padding-bottom: 100px;
  box-shadow: 0px 40px 60px -20px rgba(0, 0, 0, 0.2);
}

.spinner {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  margin: 50px;
  display: inline-block;
}

.spinner-1 {
  background: #283149;
  animation: change-background 2s ease infinite;  
}

.spinner:after, .spinner:before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.spinner-1:after {
  position: absolute;
  top: -4px;
  left: -4px;
  border: 4px solid transparent;
  border-top-color: #f73859;
  border-bottom-color: #f73859;
  -webkit-animation: spinny 2s linear infinite;
          animation: spinny 2s linear infinite;
}

@-webkit-keyframes spinny {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(1.2);
            transform: rotate(180deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

@keyframes spinny {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(1.2);
            transform: rotate(180deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

@keyframes change-background {
  0% {
      background: #283149;
  }
  50% {
    background: #dbedf3;
  }
  100% {
     background: #283149;
  }
}

.spinner-2 {
  background: #dbedf3;
  animation: spin 2s linear infinite;
}

.spinner-2:before, .spinner-2:after {
  height:20px;
  width: 20px;
  background: #f73859;
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -10px;
  animation: bouncy 1s ease-in infinite;
}

.spinner-2:after {
  top: auto;
  bottom: -10px;
  animation: bouncy 0.5s ease-in infinite;
}

@keyframes bouncy {
  0%, 100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}



/*Media Queries*/

@media (max-width: 1100px) {
	.about_section {
		margin: 100px 100px;
	}

	.headshot_front {
		height: 400px;
	}

	.headshot_back {
		height: 400px;
	}

	.about_row {
		grid-template-columns: 50% 354px;
		height: 400px;
	}

	.flip-container {
		max-height: 400px;
	}
}

@media (max-width: 940px) {

	.typing_header {
		max-width: 600px;
	}

	.portfolio_grid {
		margin: 20px;
	}

	.right-column {
    text-align: center;
	}

	.flex {
    flex-flow: column;
    padding: 40px;
	}

	.about_row {
	    grid-template-columns: repeat(1,1fr);
	    height: 100%;
	}

	/*Flipper*/

	.flip-container {
		background-color: #fff;
	}

	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: none;
	}

	.headshot_front {
		position: inherit;
	}

	.line {
		height: 50%;
	}
}

@media (max-width: 860px) {

	.portfolio_grid {
		grid-template-columns: repeat(2, 1fr);
		margin: auto 30px;
	}

}

@media (max-width: 740px) {

	footer {
		flex-flow: column;
		height: auto;
	}

	.left_footer_column {
		width: 100%;
		margin-left: 0px;
	}

	.right_footer_column {
		margin: auto;
		padding-top: 20px;
	}

}

@media (max-width: 620px) {

	.portfolio_grid {
		grid-template-columns: repeat(1, 1fr);
	}

	button {
		margin: 10px 20px 10px 0px; 
	}

	.flex {
		padding: 0px;
	}

	header {
		flex-flow: column;
    	text-align: center;
    	height: auto;
	}

	.logo_link {
		margin-left: auto;
	}

	nav {
		margin-right: auto;
    	margin-left: auto;
	}

	.typing_header {
		margin: 200px auto 0px;
		height: 500px;
	}

	h4 {
		font-size: 1.5rem;
    	margin: 20px 1em 10px;
	}

	.logo {
		padding-left: 0px; 
		padding-bottom: 10px;
	}

	.navigation {
		padding:0px;
	}

	nav ul li {
		font-size: 20px;
	}

	.hero {
		margin-top: 100px;
	}

	.summary_columns {
		flex-direction: column;
	}
	.summary_left {
		margin-top: 30px;
		margin-right: auto;
		padding-right: 20px;
		text-align: left;
		flex: 1;
	}
	
	.summary_right {
		margin-top: 0px;
		margin-right: auto;
		text-align: left;
		flex: 1;
	}

	.image_container {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		max-width: 100%;
		justify-content: center;
	  }
	  
	  .container_image {
		  max-width: 100%;
		  max-height: auto;
		  padding: 20px 20px;
		  flex: 1;
	  }

	#clap_back_header {
		margin: 20px 20px;
	}

	#spinners_header {
		    display: none;
	}

	.wrap {
		margin-bottom: 0px;
		padding-bottom: 0px;
	}

	#left-line {
	    left: 90%;
	}

	#right-line {
	    right: 90%;
	}

	.headshot_img {
		height: auto;
		max-width: 100%;
	}

	.line {
		height: 75%;
	}

}

@media (max-width: 500px) {
	.flex_image {
		display: none;
	}

	.object_2 {
    padding: 40px;
	}

	.headshot_img {
	    max-height: 100%;
	    max-width: 100%;
	}

	.about_section {
	    margin: 100px 50px;
	}
}
